<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Devices" type="MTConnectAgentSimulator.BasicConfigurator, MTConnectAgentSimulator" />
  </configSections>
  <appSettings>
    <add key="devices" value="Mazak1" />
    <add key="ipport" value="80" />
    <add key="cycletime" value="500" />
    <add key="debug" value="2" />
    <add key="ReadTimeout" value="600000" />
    <add key="TimeDivisor" value="20" />
    <add key="SimCycleTime" value="100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <Devices>
    <!-->1) ===================================================================== </!-->
    <Device name="Mazak1"
            CsvFile="MZ1-4_ver 3-12-12-09.csv"
            model="VRX730"
            mapping="Mode=controllermode,Sload=Slod_percent,Xload=Xlod_percent,Yload=Ylod_percent,Zload=Zlod_percent,Aload=Alod_percent,Bload=Blod_percent,Cload=Clod_percent,Tool=Tool_number,RPM=Srpm,PartsCount=PartsCountAct,Feedrate=path_feedratefrt"
           filter=" machine = 'm25709.nw.nos.boeing.com/Mazak2' "
    />

  </Devices>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>